* {
  margin:0;
  padding:0;
}
html, body {
  font-family: Helvetica, Calibri, Arial, Sans-serif;
  font-size: medium;
  line-height: 1.5;
}

ul, ol {
	padding-left:1.5em;
}

.notice {
	background-color:rgba(0,255,0,0.5);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	left:35%;
	padding:1em 0;
	position:absolute;
	text-align:center;
	top:50%;
	width:400px;
}

#edit_profile ol,
#login ol,
#register ol {
	list-style:none;
	padding:0;
}
#edit_profile ol li,
#login ol li,
#register ol li {
	padding:0.5em 0;
}
#edit_profile ol li label,
#login ol li label,
#register ol li label {
	display:block;
	float:left;
	width:185px;
}

#user_nav {
	float:right;
	font-size:0.9em;
}

#page {
  border-color:#f00;
  border:3px solid rgba(255,0,0,0.5);
  border-radius:1em;
  -moz-border-radius:1em;
  -webkit-border-radius:1em;
  margin:1em auto;
  padding:1em;
  width:930px;
}

#logs form {
  margin-bottom:2em;
  overflow:hidden;
}
#logs form p {
  float:left;
  padding-right:10px;
}
#logs form input#log_name {
  height:20px;
  width:200px;
}
#logs form textarea#log_description {
  height:20px;
  width:335px;
}
#logs form input#log_social_security {
  height:20px;
  width:75px;
}
#logs form input#log_submit {
  margin-top:17px;
}
#logs table.log-report {
  clear:both;
}
#logs table td {
  border-bottom:1px solid #eee;
  vertical-align:top;
  line-height:20px;
  padding:7px 5px;
}
#logs table td.description p {
  color:#94978e;
  float:left;
  margin:0 0 0 5px;
  font-size:12px;
}
#logs table td.table-options div {
  visibility:hidden;
}
#logs table tr:hover td.table-options div {
  visibility:visible;
}
