@import url("reset.css");

html, body { font-family:Helvetica, Calibri, Arial, Sans-serif; font-size:medium; line-height:1.5; }

h1 { font-size:2em; }

a:link, a:visited { color:#f00; padding:3px; text-decoration:none; }
a:hover, a:active { background-color:#ff6e75; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }

.notice { background-color:rgba(0,255,0,0.5); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; left:50%; margin-left:-200px; padding:1em 0; position:absolute; text-align:center; top:20px; width:400px; }

.errorExplanation { background-color:#d40015; border:3px solid #fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; font-size:0.75em; left:0; padding:0 10px; position:absolute; width:284px; }
.errorExplanation ul { list-style-type:disc; padding-left:1.5em; }
.errorExplanation ul li { color:#ff0; font-style:normal; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
#logs .errorExplanation p { float:none; }

#login,
#edit_profile,
#register { background-color:#d40015; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin:100px auto 0; padding:10px; width:300px; }
#login h1,
#edit_profile h1,
#register h1 { color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
#login label,
#edit_profile label,
#register label { color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
#login input[type='text'],
#login input[type='password'],
#edit_profile input[type='text'],
#edit_profile input[type='password'],
#register input[type='text'],
#register input[type='password'] { background:#a00 url("../images/input-bg.gif") repeat-x top left; border:1px solid #e00000; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border-width:0 1px 1px 0; color:#fff; margin:0; padding:6px 10px 5px; width:280px; }
#register small,
#edit_profile small { color:#fff; font-size:0.75em; }
#login .register_link { text-align:right; }
#login .register_link a:link,
#login .register_link a:visited { color:#eed; }

#edit_profile ol,
#login ol,
#register ol { list-style:none; padding:0; }
#edit_profile ol li,
#login ol li,
#register ol li { padding:0.5em 0; }
#edit_profile ol li label,
#login ol li label,
#register ol li label { display:block; float:left; width:185px; }
 
#user_nav { background-color:rgba(255,255,255,0.3); -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; border-bottom-left-radius:5px; font-size:0.9em; padding:5px; position:absolute; right:0; top:0; }
  #user_nav a:link, #user_nav a:visited { color:#eed; }
  #user_nav a:hover, #user_nav a:active { background:none; color:#998; text-shadow:none; }

#find_dates #help { float:left; margin-top:25px; text-shadow:1px 1px 1px #000; width:320px; }
#find_dates form { border-left:1px solid #fff; float:left; margin:0 auto; padding:1em 10px; width:579px; }
#find_dates label { display:block; text-shadow:1px 1px 1px #000; width:100px; }
#find_dates p { float:left; }
 #find_dates p + p { margin-left:15px; }
#find_dates select { display:none; }

#find_dates #find_btn { margin-top:10px; }

#page {
/*  border-color:#f00;
border:3px solid rgba(255,0,0,0.5);
border-radius:1em;
-moz-border-radius:1em;
-webkit-border-radius:1em;
margin:1em auto;
padding:1em;
width:930px;*/
}

#header { background-color:#666; color:#fff; margin-bottom:1em; }
#header h1 { background-color:#fff; }
#header h1 a { background: url("../images/qclogo.png") no-repeat 0 0; display:block; height:94px; margin:0 auto; padding-bottom:0.5em; text-indent:-9999px; width:930px; }
#wrapper { margin:0 auto; overflow:hidden; padding:1em 0 2em; position:relative; width:930px; }
#welcome { border-right:1px solid #fff; float:left; margin-top:25px; text-shadow:1px 1px 1px #000; width:319px; }
  #welcome em { background-color:#888; color:#fff; font-style:normal; padding:3px; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
#signin { float:left; padding:0 10px; text-shadow:1px 1px 1px #000; width:580px; }
  #signin form { overflow:hidden; }
  #signin form fieldset { float:left; }
  #signin form legend { display:none; }
  #signin form p { float:left; position:relative; }
  #signin form label { font-size:0.85em; }
  #signin form label.error { background:transparent url("../images/exclamation.png") no-repeat 0 0; bottom:7px; height:16px; overflow:hidden; position:absolute; right:5px; text-indent:-9999px; width:16px; }
    #signin form .contact_type label.error { bottom:auto; left:6em; right:auto; top:3px; }
    #signin form .category label.error { bottom:auto; right:35px; top:5px; }
    #signin form label.error.:hover { background-position:0 3px; height:auto; padding-left:20px; text-indent:0; bottom:3px; width:auto; }
  #signin form input[type='text'],
  #signin form input[type='password'],
  #signin form textarea { background:#fff url("../images/input-bg2.gif") repeat-x top left; border:none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#000; margin:0; padding:6px 10px 5px; }
  #signin form input#log_name,
  #signin form input#log_email,
  #signin form input#log_social_security { height:20px; width:200px; }
  #signin form .email,
  #signin form .social_security,
  #signin form .contact_type { clear:left; }
  #signin form label.radio { font-size:0.75em; }
  #signin form .category,
  #signin form .description { float:none; }
  #signin form textarea#log_description { height:75px; width:300px; }
  #signin form fieldset + p { float:right; }
  #signin form input#log_submit { position:relative; right:0; margin-top:10px; }

#recent_visitors { margin:0 auto; width:930px; }
#recent_visitors h1 { color:#333; float:left; padding-right:10px; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
#recent_visitors .download_csv { line-height:2em; padding:8px; }
#recent_visitors table { border-collapse:collapse; clear:both; width:930px; }
#recent_visitors table th { background-color:#666; color:#fff; padding:0.4em; text-align:left; text-shadow:1px 1px 1px #000; }
#recent_visitors table tr.serviced { color:#ccb; }
#recent_visitors table td { font-size:0.75em; padding:0.5em 1em; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
  #recent_visitors table td a:link { text-shadow:none; }
#recent_visitors table tr:nth-child(even) td { background-color:rgba(0,0,0,0.2); text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
#recent_visitors table td.description p { color:#665; float:left; margin:0 0 0 5px; }
#recent_visitors table td.table-options div { visibility:hidden; }
#recent_visitors table tr:hover td.table-options div { visibility:visible; }
